---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "数据安全与隐私保护",
    description:
      "在本地设备上部署AI技术，有助于降低数据泄露风险，数据不需要离开用户的设备，大大增加了数据的安全性和隐私性。有效保护用户隐私数据。",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "端到端加密同步",
    description:
      "寄劈替使用密钥来保障云托管客户的数据安全，客户数据经过密钥加密后存储到云数据库中，实现在云端的安全存储。仅持有用户密钥才能访问自己的数据。",
    icon: "bx:bxs-data",
  },
  {
    title: "提供高性能、低功耗的模型",
    description:
      "优化模型，使其能在资源受限的设备上高效运行。私有化部署的模型无需将数据发送到云端再返回，这大大降低了延迟，提高了模型的响应速度。",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "易用性和可扩展性",
    description:
      "开发简单易用的工具和平台，以满足不同客户的需求，同时保证系统具有良好的可扩展性，以适应未来技术的发展。",
    icon: "bx:bxs-file-find",
  },
  {
    title: "任何环境一键部署",
    description: "任何环境下，都可以在消费级显卡上一键部署你自己的专属大模型。",
    icon: "bx:bxs-bot",
  },
  {
    title: "超低成本使用大模型",
    description:
      "私有化部署可以避免昂贵的云服务费用，尤其是在长期使用的情况下。其成本可以远低于大模型提供的收费API，无限接近于零。",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    把数据牢牢掌控在自己手里
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    大模型时代，面对数据霸权，我们需要一个开源的、本地的、安全的、可控的大模型私有化部署方案。让数据回归到数据所有者手里，保护数据安全和隐私。
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
