---
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
import Start from "./ui/icons/start.astro";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-6 sm:pt-none pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 md:block">
    <img src="/banner.png" />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-6xl font-bold lg:tracking-tight xl:tracking-tighter">
      大模型私有化部署方案
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      让每个人都能在自己的设备上轻松训练、调优和部署大模型。
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="https://github.com/jipitiai"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <Icon class="text-white w-5 h-5 mr-1" name="bx:bxl-github" />
        查看源码
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="/contact"
        class="flex gap-1 items-center justify-center">
        <Start class="w-5 h-5 text-black mr-1" />
        立即使用
      </Link>
    </div>
  </div>
</main>
